# Rename .env.example to .env and update the following
# Get your api keys on app.suncel.io :  create a new project or open an existing one, click on the project, go to Api and copy your keys

#SUNCEL
NEXT_PUBLIC_SUNCEL_KEY=
SUNCEL_REVALIDATE_SECRET=